.highlight-minecraft:hover {
    cursor: url('/assets/cursors/minecraft-cursor.cur'), auto;
}

.highlight-mods:hover {
    cursor: url('/assets/cursors/mods-cursor.cur'), auto;
}

.highlight-coding:hover {
    cursor: url('/assets/cursors/coding-cursor.cur'), auto;
}

.highlight-vr:hover {
    cursor: url('/assets/cursors/vr-cursor.cur'), auto;
}

.highlight-ai:hover {
    cursor: url('/assets/cursors/ai-cursor.cur'), auto;
}

.highlight-webdev:hover {
    cursor: url('/assets/cursors/webdev-cursor.cur'), auto;
}

.highlight-f1:hover {
    cursor: url('/assets/cursors/f1-cursor.cur'), auto;
}